<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/packages.css">

    <title>ADMIN | MOHSIN</title>
</head>
<body>
    
    <%- include('../admin/includes/header.ejs'); %>

    
</body>
</html>