*{
    margin: 0px;
    font-family: 'work sans';
}
body{
    background: rgb(252, 252, 252);
}
section.body{
    display: flex;
    height: 100vh;
}
section.sidebar{
    width: 15%;
    height: 100%;
    position: fixed;
    background: #0758fa;
    color: white;
    position: relative;
}
section.sidebar > div.logo{
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 20%;
    font-weight: 800;
    font-size: 200%;
}
section.sidebar > div.nav{
    margin-top: 20%;
}
section.sidebar > div.nav > div{
    width: 100%;
    padding: 10% 0%;
    padding-left: 20%;
    display: flex;
}
section.sidebar > div.nav div.text{
    margin-left: 10%;
}

section.sidebar > div.userprofile{
    background: #0650E3;
    margin-top: auto;
    height: 70px;
    position: absolute;
    bottom: 3%;
    width: calc(100% - 10%);
    margin-left: 5%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
section.sidebar > div.userprofile > img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0% 5%;
}
section.sidebar > div.userprofile > div.userprofile{
    font-size: 90%;
    font-weight: 700;
  }
section.content{
    
}
