<link rel="stylesheet" href="/css/reader.css">
<link rel="stylesheet" href="/css/animate.min.css">

<div class="reader-frame hidden">
    <div class="layer" onclick="hideReader()"></div>
    <div class="reader-box animate__animated">
        <div class="info">
            <div class="date_created">
                <div class="material-icons">event_note</div>
                <div class="date">06-02-2021</div>
            </div>
            <div class="actions">
                <div class="edit" title="Modify">
                    <div class="material-icons">edit</div>
                </div>
                <div class="delete" title="Delete">
                    <div class="material-icons">delete</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Sign In To Control Your Subs
                <div class="underline"></div>
            </div>
            <div class="text">
                
            </div>
        </div>

    </div>
</div>