<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/fonts/material-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    
    <title>MOHSIN</title>
</head>
<body>
    <header>
        <div class="logo">MOHSIN</div>
        <div class="nav">
            <div>HOME</div>
            <div>PRICING</div>
            <div>ABOUT</div>
        </div>
        <div class="auth">
            <div class="signin"><a href="/signin/0">SIGN IN</a></div>
            <div class="register"><a href="/createaccount/0">CREATE ACCOUNT</a></div>
        </div>
    </header>
    <section class="body">
        <div class="welcome">
            <div class="text">
                <div class="major">
                    Cras ultricies ligula sed magna dictum porta. 
                    Vivamus suscipit tortor eget felis porttitor volutpat.
                </div>
                <div class="minor">
                    Vivamus suscipit tortor eget felis porttitor volutpat.
                </div>
            </div>
        </div>
        <div class="about">

        </div>
        <div class="pricing">
            <div class="package">
                <div class="price">
                    <div>$</div>
                    <div>99.8</div>
                </div>
                <div class="features">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>                      
                <button class="purchase">   
                    PURCHASE
                </button>
            </div>

            <div class="">
                <div class="price">
                    <div>$</div>
                    <div>99.8</div>
                </div>
                <div class="features">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="purchase">
                    PURCHASE
                </button>                       
            </div>

            <div class="">
                <div class="price">
                    <div>$</div>
                    <div>99.8</div>
                </div>
                <div class="features">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="purchase">
                    PURCHASE
                </button>
            </div>
        </div>
        <div class="footer">

        </div>
    </section>
    <footer>

    </footer>
</body>
</html>