<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/fonts/material-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/siteauth.css">

    <title>MOHSIN</title>

    <style>
        button.submit{
            display: flex;
        }
    </style>
</head>
<body>
    <section class="body">
        <div class="logo">MOHSIN</div>
        <div class="form-box">
            <div class="errormessage"></div>
            <div>
                <input type="email" class="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="text" class="username" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" class="password" name="password" placeholder="Password">
            </div>

            <button type="submit" class="submit">
                <div class="lds-ellipsis loader hidden"><div></div><div></div><div></div><div></div></div>
                <div class="main">CREATE NEW ACCOUNT</div>
            </button>
        </div>
        <div class="signin">
            <div>Already have an account?</div>
            <button><a href="/signin">SIGN IN</a></button>
        </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('button.submit').click(function(){
                 var userDetails = {
                    email: $('input.email').val(),
                    username: $('input.username').val(),
                    password: $('input.password').val()
                  };

                if(userDetails.email && userDetails.username && userDetails.password){
                    $('button.submit > div.main').addClass('hidden');
                    $('button.submit > div.loader').removeClass('hidden');

                    $.ajax({
                        type:'POST',
                        url:'/createaccount',
                        dataType: 'json',
                        data: userDetails,
                        success: (data)=>{
                            if(data.error){
                                $('div.errormessage').html(`${data.error}`);

                                $('button.submit > div.loader').addClass('hidden');
                                $('button.submit > div.main').removeClass('hidden');
                            } else {
                                if(!data.toCheckOut) {
                                    if(data.sessionType == 'customerUser'){
                                        window.location.pathname = '/';
                                    }
                                    if(data.sessionType == 'customerAdmin'){
                                        window.location.pathname = '/app/dashboard';
                                    }
                                } else {
                                    window.location.pathname = `/purchase/${data.packageId}`;
                                }
                            }
                        },
                        error: (data)=>{
                            $('div.errormessage').html(`${data}`);

                            $('button.submit > div.loader').addClass('hidden');
                            $('button.submit > div.main').removeClass('hidden');
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
