<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/workspace.css">
    <link rel="stylesheet" href="/fonts/material-icons.css">

    <title>Customer Service Response Template</title>
</head>
<body>

    <%- include('../app/includes/header.ejs') %>

   <section class="body">
        <div class="breadcrumbs">Workspace > FolderName </div>
        <div class="main-frame">
            <div class="notes grid-list">
                <div class="new-folder folder">
                    <div class="material-icons">add</div>
                </div>
 
                <div class="file">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <img src="/images/doc.png" alt="">
                        <div class="content">
                            <div class="title">Sign In To Control Your Subs SubsSubs</div>
                        </div>
                        <div class="file-size">
                            225 kb
                        </div>
                    </div>
                </div>

                <div class="note">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <div class="material-icons">description</div>
                        <div class="content">
                            <div class="title">1. Sign In To Control Your Subs SubsSubs</div>
                            <div class="excerpt">
                                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="note">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <div class="material-icons">description</div>
                        <div class="content">
                            <div class="title">2. Sign In To Control Your Subs SubsSubs</div>
                            <div class="excerpt">
                                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="note">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <div class="material-icons">description</div>
                        <div class="content">
                            <div class="title">3. Sign In To Control Your Subs SubsSubs</div>
                            <div class="excerpt">
                                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="note">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <div class="material-icons">description</div>
                        <div class="content">
                            <div class="title">4. Sign In To Control Your Subs SubsSubs</div>
                            <div class="excerpt">
                                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="note">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <div class="material-icons">description</div>
                        <div class="content">
                            <div class="title">5. Sign In To Control Your Subs SubsSubs</div>
                            <div class="excerpt">
                                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="file">
                    <div class="date-created">
                        <div class="material-icons">event_note</div>
                        <div class="date">06-02-2021</div>
                        <div class="options material-icons">
                            more_horiz
                        </div>
                    </div>

                    <div class="info">
                        <img src="/images/pdf.png" alt="">
                        <div class="content">
                            <div class="title">Sign In To Control Your Subs SubsSubs</div>
                        </div>
                        <div class="file-size">
                            225 kb
                        </div>
                    </div>
                </div>
            </div>
        
         <%- include('../app/includes/reader.ejs') %>
        </div>

   </section>


   <script src="/js/jquery.min.js"></script>
   <script>
       $(document).ready(function(){
            document.querySelectorAll('div.note').forEach(element => {
                element.addEventListener("click", ()=>{
                    displayReader();

                })
            });
       });

       function displayReader() {
            $('div.reader-frame').removeClass('hidden');
            $('div.reader-frame div.reader-box').removeClass('animate__slideOutRight');
            $('div.reader-frame div.reader-box').addClass('animate__slideInRight');
       }

       function hideReader() {       
            $('div.reader-frame div.reader-box').removeClass('animate__slideInRight');
            if($('div.reader-frame div.reader-box').addClass('animate__slideOutRight')){
                setTimeout(()=>{
                    $('div.reader-frame').addClass('hidden');
                }, 400);
            }

       }
   </script>
</body>
</html>


