<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <title>Customer Service Response Template</title>
</head>
<body>

    <%- include('../app/includes/header.ejs') %>

   <section class="body">
        <div class="companies-box">
            <div class="page-title">Companies</div>
                <div class="horizontal-list">
                    <div class="left-scroll scroll-btn">
                        <span class="material-icons">keyboard_arrow_left</span>
                    </div>
                    <div class="horizontal-scroll-wrapper">
                        <div>
                            <a href="/company">
                                <img src="/images/9mobile.jpg">
                                    <div class="info">
                                        <div class="options material-icons">more_vert</div>
                                        <div class="name">9mobile</div>
                                    </div>
                                </div>
                            </a>
                        <div>
                            <img src="/images/mtn.jpg">
                            <div class="info">
                                <div class="options material-icons">more_vert</div>
                                <div class="name">MTN</div>
                            </div>
                        </div>
                        <div>
                            <img src="/images/airtel.jpeg">
                            <div class="info">
                                <div class="options material-icons">more_vert</div>
                                <div class="name">Airtel</div>
                            </div>
                        </div>
                        <div>
                            <img src="/images/glo.jpg">
                            <div class="info">
                                <div class="options material-icons">more_vert</div>
                                <div class="name">Glo</div>
                            </div>
                        </div>
                        <div>
                            <img src="/images/at&t.png">
                            <div class="info">
                                <div class="options material-icons">more_vert</div>
                                <div class="name">AT&T</div>
                            </div>
                        </div>
                        <div>
                            <img src="/images/vodaphone.jpg">
                            <div class="info">
                                <div class="options material-icons">more_vert</div>
                                <div class="name">Vodaphone</div>
                            </div>
                        </div>
                    </div>
                <div class="right-scroll scroll-btn">
                    <span class="material-icons">keyboard_arrow_right</span>
                </div>
            </div>
        </div>
   </section>


   <script src="/js/jquery.min.js"></script>
   <script>
       $(document).ready(function(){
           var scrollPosition = 0;
           var maxScrollPosition = $('div.horizontal-scroll-wrapper').width() - document.querySelector('div.horizontal-scroll-wrapper').scrollHeight;

            $('div.companies-box div.left-scroll').click(function(){
                if(scrollPosition < maxScrollPosition){
                    scrollPosition += 300;
                    $('div.horizontal-scroll-wrapper').scrollLeft(scrollPosition);
                }
            });

            $('div.companies-box div.right-scroll').click(function(){
                if(scrollPosition > 0){
                    scrollPosition -= 300;
                    $('div.horizontal-scroll-wrapper').scrollLeft(scrollPosition);
                }
            });
       });
   </script>
</body>
</html>