<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/limitreached.css">
    <link rel="stylesheet" href="/fonts/material-icons.css">

    <title>Limit Reached - Customer Service Response Template</title>
</head>
<body>

    <%- include('./includes/header') %>

   <section class="body">
        <div class="message">
            <div>
        </div>
   </section>


   <script src="/js/jquery.min.js"></script>
   <script src="/js/reader.js"></script>
</body>
</html>

