<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/workspace.css">
    <link rel="stylesheet" href="/fonts/material-icons.css">

    <title>Customer Service Response Template</title>
</head>
<body>

    <%- include('./includes/header.ejs') %>

   <section class="body">

        <div class="main-frame">
            <% if(folders.length > 0) { %>
                <div class="notes grid-list">
                    <div class="new-folder folder" onclick="newFolder()">
                        <div class="material-icons">add</div>
                    </div>

                    <% folders.forEach( folder => { %>
                        <a href="/app/workspace/:<%=folder.folderId%>">
                            <div class="folder">
                                <div class="top">
                                    <div class="material-icons">folder</div>
                                    <div class="no-of-files">
                                        <%=folder.filesNo%>
                                    </div>
                                </div>
                                <div class="title">
                                    <%=folder.title %>
                                </div>
                            </div>
                        </a>
                    <% }); %>
                </div>
            <% } else { %>
                <div class="emptyworkspace">
                    <div>
                        <div class="text">You have an empty workspace.</div>
                        <button onclick="newFolder()">
                            <div class="material-icons">add</div>
                            <div>New Folder</div>
                        </button>
                    </div>
                </div>
            <% } %>
        </div>

        <section class="create-folder-frame hidden">
            <div class="layer"></div>
            <div class="form-box">
                <div class="form">
                    <div class="errormessage"></div>
                    <form onsubmit="return false;">
                        <div>
                            <div class="label">Title</div>
                            <input type="text" name="title" class="title" required>
                        </div>

                        <button class="create">Create Folder</button>
                    </form>
                </div>
            </div>
        </section>
   </section>


   <script src="/js/jquery.min.js"></script>
   <script src="/js/reader.js"></script>
   <script>
       $(document).ready(function(){

           $('section.create-folder-frame button.create').click(function(){
               var folderDetails = {
                   title : $('input.title').val(),
               };

               if(folderDetails.title){
                   $.ajax({
                       type: 'POST',
                       url: '/createfolder',
                       dataType: 'json',
                       data: folderDetails,
                       success: function(response){
                            if(response.folderAdded){
                                window.location.pathname = "/app/workspace";
                            } else if (response.errorOccurred) {
                                $('div.errormessage').html('There was an error creating a new folder.');
                            }
                       },
                       error: function(data){}
                   });
               }
           });

           $('div.layer').click(function(){
               $('section.create-folder-frame').addClass('hidden');
           });
       });

        function newFolder(){
            $('section.create-folder-frame').removeClass('hidden');
        };


   </script>
</body>
</html>

