<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/workspace.css">
    <link rel="stylesheet" href="/fonts/material-icons.css">

    <title>Customer Service Response Template</title>
</head>
<body>

    <%- include('../app/includes/header.ejs') %>

   <section class="body">

        <div class="main-frame">
            <div class="notes grid-list">
                <div class="new-folder folder">
                    <div class="material-icons">add</div>
                </div>

                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                50
                            </div>
                        </div>
                        <div class="title">
                            B2B Customers
                        </div>
                    </div>
                </a>

                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                5
                            </div>
                        </div>
                        <div class="title">
                            Delivery Issues With B2B Customers
                        </div>
                    </div>
                </a>

                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                5
                            </div>
                        </div>
                        <div class="title">
                            Intro And Outro
                        </div>
                    </div>
                </a>

                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                5
                            </div>
                        </div>
                        <div class="title">
                            Product Issues
                        </div>
                    </div>
                </a>

                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                5
                            </div>
                        </div>
                        <div class="title">
                            Recycling
                        </div>
                    </div>
                </a>
                
                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                5
                            </div>
                        </div>
                        <div class="title">
                            Subscription
                        </div>
                    </div>
                </a>
                
                <a href="/app/workspace/folder">
                    <div class="folder">
                        <div class="top">
                            <div class="material-icons">folder</div>
                            <div class="no-of-files">
                                5
                            </div>
                        </div>
                        <div class="title">
                            Website Problems
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="reader-frame">
            <div class="layer"></div>
            <div class="reader-box"></div>
        </div>
   </section>


   <script src="/js/jquery.min.js"></script>
   <script src="/js/reader.js"></script>
</body>
</html>


<!-- <div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
</div>

<div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
</div>

<div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
</div>
<div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
</div>
<div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
</div>
<div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
</div>
<div class="note">
    <div class="date-created">
        <div class="material-icons">event_note</div>
        <div class="date">06-02-2021</div>
        <div class="options material-icons">
            more_horiz
        </div>
    </div>
    <div class="info">
        <div class="title"></div>
        <div class="except"></div>
    </div>
</div> -->